<!DOCTYPE html><%
	var article = public._data[current.path[0]];
	var title = article.title;
	var summary = article.summary;
%>
<html>
	<head>
		<title><%= title %> - Adrian Osmond</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
		<style><%- partial("styles/critical/_article-critical") %></style>
	</head>
	<body class="article">
		<%- partial("_partials/_header") %>
		<article role="main" class="main">
			<h1><%= title %></h1>
			<p class="article-summary"><%= summary %></p>
			<%- yield %>
		</article>
		<%- partial("_partials/_footer") %>
	</body>
</html>
