<!DOCTYPE html>
<html>
	<head>
		<title>Adrian Osmond</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
		<style><%- partial("styles/critical/_homepage-critical") %></style>
	</head>
	<body class="homepage">
		<div class="ao-pic"></div>
		<header data-toggle="articles">
			<a href="javascript:void(0)" class="header-link">
				<svg class="header-image" xmlns="http://www.w3.org/2000/svg" viewBox="-0.939 0 914 920"><path fill="#fff" d="M453.06 0c-45.712 0-89.867 6.67-131.545 19.085l103.16 283.426c9.212-1.648 18.7-2.51 28.387-2.51 88.366 0 160 71.634 160 160 0 59.435-32.407 111.298-80.515 138.89l103.156 283.418C798.89 811.635 913.06 649.153 913.06 460c0-254.05-205.948-460-460-460zM154.596 109.973C79.965 173.67 25.958 260.81 3.97 360h241.628l-91.003-250.027zM0 540c37.66 214.755 224.28 378.227 449.413 379.977L311.113 540H0z"/></svg>
				<h1 class="header-text">Adrian Osmond</h1>
			</a>
		</header>
		<div class="intro">
			<div class="move-text-up">
				<p class="statement giant-text emphasis">Hello!</p>
				<p class="statement medium-text">My name is <button class="emphasis click-action" data-toggle="picture">Adrian Osmond.</button></p>
			</div>
			<div class="move-text-down">
				<p class="statement medium-text">I live in London where I build websites,</p>
				<p tabindex="-1" class="statement medium-text social-media-statement">I sometimes use <button class="emphasis click-action" data-toggle="social">social media,</button></p>
				<p tabindex="-1" class="social-media-icons">
					<a href="https://twitter.com/adrianosmond" class="social-media-icon twitter-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" enable-background="new 0 0 60 60"><path clip-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M46.5 18.4s3.4-.3 4.7-1.3c0 0-.3 1.2-4.4 4.9 0 0 1.4 19.9-19.5 24.8 0 0-10.6 2.3-18.2-3.5 0 0 8 1.4 12.5-3.6 0 0-5.8.1-7.7-5.9 0 0 2.2.5 3.5-.1 0 0-6.6-1.4-6.5-8.6 0 0 1.8 1.3 3.4 1.1 0 0-5.9-5.1-2.3-11.4 0 0 8 9.4 17.8 8.9-.2-.7-.3-1.4-.3-2.1 0-4.7 3.8-8.5 8.5-8.5 2.4 0 4.5 1 6 2.5 1.1 0 3.4-.2 5.8-1.8.2 0 .3 1.8-3.3 4.6z" fill="none"/></svg>
						<span class="social-media-name">Twitter</span>
					</a>
					<a href="http://instagram.com/adrianosmond" class="social-media-icon instagram-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" enable-background="new 0 0 60 60"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M50 41c0 4.4-3.6 8-8 8H18c-4.4 0-8-3.6-8-8V18c0-4.4 3.6-8 8-8h24c4.4 0 8 3.6 8 8v23z" fill="none"/><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M44.2 15.3h-3.9c-.7 0-1.3.6-1.3 1.3v3.9c0 .7.6 1.3 1.3 1.3h3.9c.7 0 1.3-.6 1.3-1.3v-3.9c0-.7-.6-1.3-1.3-1.3z" fill="none"/><path clip-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M30 45c-6.1 0-11-4.9-11-11s4.9-11 11-11 11 4.9 11 11-4.9 11-11 11z" fill="none"/><path clip-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M30 40c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z" fill="none"/><path clip-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" d="M11 25h13" fill="none"/><path clip-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" d="M36 25h14" fill="none"/></svg>
						<span class="social-media-name">Instagram</span>
					</a>
					<a href="http://uk.linkedin.com/pub/adrian-osmond/47/b21/889" class="social-media-icon linked-in-icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" enable-background="new 0 0 60 60"><path clip-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.8 49.9H9.7V21.7h8.1v28.2z" fill="none"/><path clip-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 18.5c-2.7 0-4.5-1.9-4.5-4.3s1.8-4.3 4.6-4.3 4.5 1.9 4.5 4.3-1.7 4.3-4.6 4.3z" fill="none"/><path clip-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M42.2 50V34.3c0-3.6-1.8-6-4.9-6-2.4 0-4.4 1.6-5 3.2-.2.6-.3 1.4-.3 2.2V50h-8.1V30.8c0-3.5 0-6.5-.1-9l7.4-.1.4 4.1h.2c1.1-1.8 3.9-4.5 8.6-4.5 5.7 0 9.8 3.8 9.8 12V50h-8z" fill="none"/></svg>
						<span class="social-media-name">Linked In</span>
					</a>
				</p>
				<p class="statement medium-text">and I occasionally <button href="#" data-toggle="articles" class="emphasis click-action">write things.</button></p>
			</div>
		</div>
		<section class="article-teasers">
			<% for (var url in public._data) {
				if (url === "index" || public._data[url].debug === true) {
					continue;
				}
				var article = public._data[url];
			%>
			<article>
				<a class="article-link" href="<%= url %>/">
					<h1><%= article.title %></h1>
					<p class="article-summary"><%= article.summary %></p>
					<div class="article-date"><%= article.date %></div>
				</a>
			</article>
			<% } %>
		</section>
		<script type="text/javascript" src="scripts/dist/script.js" async></script>
		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-39437558-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
